<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Lab 4</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/details/3">Details</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="/errr">Error</a>
          </li>  
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="#">Link</a></li>
              <li><a class="dropdown-item" routerLink="#">Another link</a></li>
              <li><a class="dropdown-item" routerLink="#">A third link</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>